h5py 
psutil 
tqdm 
termcolor 
tensorboard 
tensorboardX 
imageio 
imageio-ffmpeg 
egl_probe>=1.0.1 
ipdb 
wandb

ipython 
patchelf 
robosuite==1.4.0 
robomimic==0.3.0
jupyterlab 
notebook 
black 
flake8 
isort 
pytest 
protobuf==3.20.0 
pytorch_lightning==1.9.5
gdown

seaborn 
mujoco
pygame 

numpy==1.23.5
pyopengl==3.1.6